{% extends 'EtheriqLessonBundle::base.html.twig' %}

{% block title %}
Home page
{% endblock title %}

{% block content %}

    <div class="well">
        home page
    </div>

{% endblock content %}
