{% extends 'EtheriqLessonBundle::base.html.twig' %}

{% block title %}
    service MyFinder
{% endblock title %}

{% block content %}

    <div class="well">
        <form action="{{ path('etheriq_service2') }}" method="post" name="find_form" role="form" class="form-inline">
            <div class="form-group">
            <label for="inpPath" >Введите путь к дирректории</label>
            <input type="text" id="inpPath" name="dirPath" placeholder="enter path to directory" class="form-control">
            </div>
            <button type="submit" class="btn btn-default" style="margin-top: 25px;"> Show </button>
        </form>
        <br><h4>Содержимое директории:</h4>{{ findPath }}
        <table class="table">
            <tr>
                <th>№</th>
                <th>File name</th>
                <th>File size</th>
                <th>File type</th>
            </tr>
                {% for item in findData %}
                    <tr>
                        <td>
                            {{ loop.index }}.
                        </td>
                        {% for key, currentItem in item %}
                            <td>
                                {{ currentItem }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
        </table>
    </div>

{% endblock content %}
