{% extends 'EtheriqLessonBundle::base.html.twig' %}

{% block title %}
    Result sending mail
{% endblock title %}

{% block content %}

        {% if status == 1 %}
            <div class="alert alert-success">
                <p>Почта {{ subject }} для {{ mailTo }} успешно отправлена.</p>
            </div>
        {% else %}
            <div class="alert alert-danger">
                <p>Почта для не отправлена.</p>
            </div>
        {% endif %}

{% endblock content %}
